@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,800';

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

h1.loading {
  color: green;
  position: absolute;
  height: 1em;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

main {
  display: flex;
  flex-flow: row nowrap;
  min-height: 100vh;
}

.thread-list,
.message-list {
  position: relative;
  flex: 0 0 50%;
  min-height: 100vh;
}

.thread {
  padding: 1em;
  border: 1px #999 solid;
  cursor: pointer;
}

